<template>
  <div id="observables">
      <h1>Roco se encuentra {{ esActivo === 'activo' ? 'Activo': 'No Activo' }}</h1>
      <button v-on:click="accion()">Cambio</button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch} from 'vue-property-decorator';
 @Component
export default class Observables extends Vue {
   private esActivo:string='activo';

   @Watch('esActivo')
    validar(value:string) {
      console.log('Cambio el valor de estado ', value);
    }

    accion(){
        this.esActivo = 'no activo';
    }

}
</script>

<style>

</style>