<template>
  <div class="prueba">
    <!-- <h1>{{ msg | filtropru }}</h1>
    <p>{{ texto() | filtropru }}</p> -->
    <!-- <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in inventario" :key="index">
          <td>{{item.nombre}}</td>
          <td>{{item.precio | moneda }}</td>
        </tr>
      </tbody>
    </table> -->

    <!-- <p>La revolucion francesa fue en: {{ fechaRevfrancesa | fecha}}</p> -->

    <!-- <input type="text" v-model="nombre">
    <input type="text" id="apellidoc" value="Snow">
    <button v-on:click="guardarApellido">Guardar apellido</button> 
        <output>{{ computedFullName  }}</output> -->

      <!-- <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Pais</th>
          <th>Electricidad</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in presasPorElectricidad" :key="index">
          <td>{{ item.nombre }}</td>
          <td>{{ item.pais }}</td>
          <td>{{ item.electricidad }} Megawatts</td>
        </tr>
      </tbody>
      </table> -->



  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch  } from 'vue-property-decorator';

@Component({
  name: 'Prueba'
  // filters: {
  //   filtropru(palabra:string){
  //       var [primerCaracter,...restoCaracteres]=  palabra; 
  //       return primerCaracter.toUpperCase() + restoCaracteres.join('');
  //   }
  // }

})

export default class Prueba extends Vue {
  @Prop() private msg!: string;
  // private inventario:Object = [
  //   {nombre: 'Galaxy', precio: '250'},
  //   {nombre: 'iPhone', precio: '450'},
  //   {nombre: 'Huawei', precio: '220'},
  //   {nombre: 'Laptop Gamer', precio: '665.78'}
  // ]
  // private fechaRevfrancesa:string= '1789-05-05';

  // apellido:any = 'Snow';
  // nombre:string = 'Jhon';



    // private presas:Object = [
    //   {nombre: 'RePresa Nurek', pais: 'Tajikistan', electricidad:'32000'},
    //   {nombre: 'RePresa Tres gargantas', pais: 'China', electricidad:'22500'},
    //   {nombre: 'RePresa Tarbela', pais: 'Pakistan', electricidad:'3500'},
    //   {nombre: 'RePresa Guri', pais: 'Venezuela', electricidad:'10200'},
    // ]

    // get presasPorElectricidad(){
    //   return this.presas.sort((d1, d2) => d2.electricidad - d1.electricidad);
    // }
  // get computedFullName() {
  //   return this.nombre + ' ' + this.apellido;
  // }

  // guardarApellido(){
  //   this.apellido = (this.$el.querySelector<HTMLElement>('#apellidoc').value) as String;
  // }




}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
